.container {
    padding-bottom: 2%;
    margin-top: 100px;
    background: rgba(86, 101, 115, .6);
    height: 100%;
    border-radius: .25rem;
    margin-bottom: 2%;
    width: 100%;
}

.border {
    border: 2px solid;
    border-radius: 25px;
}

.icon:hover {
    cursor: pointer;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: circle;
}